Repository AzureCommunityPL/news: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml, ci/azure-pipelines-infrastructure-pr.yml, ci/azure-pipelines-web-pr.yml

azure-pipelines.yml:
  pool:
    vmImage: Ubuntu-16.04
  steps:
  - script: echo Hello, world!
    displayName: Run a one-line script
  - script: 'echo Add other tasks to build, test, and deploy your project.
  
      echo See https://aka.ms/yaml
  
      '
    displayName: Run a multi-line script
  - task: DotNetCoreCLI@2
    inputs:
  ...

ci/azure-pipelines-functions-pr.yml:
  pool:
    vmImage: Ubuntu-16.04
  steps:
  - task: DotNetCoreCLI@2
    inputs:
      command: restore
      projects: news-functions/*.csproj
      workingDirectory: /news-functions
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: news-functions/*.csproj

ci/azure-pipelines-infrastructure-pr.yml:
  pool:
    vmImage: Ubuntu-16.04
  steps:
  - task: AzureCLI@1
    displayName: Get Azure Vars
    inputs:
      azureSubscription: AzureCommunityPL/news (d126dc91-4b54-4b49-857d-4e0c0f67fdfa)
      scriptLocation: inlineScript
  ...

ci/azure-pipelines-web-pr.yml:
  pool:
    vmImage: Ubuntu-16.04
  steps:
  - task: Npm@1
    displayName: npm install
    inputs:
      workingDir: news-web
      verbose: false
  - task: Npm@1
    displayName: npm run lint
    inputs:
      command: custom
      workingDir: news-web
      verbose: false
      customCommand: run lint
  - task: Npm@1
  ...

layout improvements and css refactoring
  news-web/src/app/+about/.gitkeep
  news-web/src/app/app.component.html
  news-web/src/app/app.component.scss
  news-web/src/app/app.component.ts
  news-web/src/app/footer/footer.component.html
  news-web/src/app/footer/footer.component.scss
  news-web/src/app/navbar/navbar.component.html
  news-web/src/app/navbar/navbar.component.scss
  news-web/src/assets/azure-devops.png
  news-web/src/assets/azure-functions.png
  news-web/src/assets/azure-logic-apps.png
  news-web/src/assets/azure.png
  news-web/src/assets/terraform.png
  news-web/src/styles.scss
Due: ci/azure-pipelines-web-pr.yml

remove bracket
  news-functions/Handlers/Unlike.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

add enter
  news-functions/Extensions/CloudTableExtension.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

fix build and merge with master
  news-functions/Handlers/PostComment.cs
  news-functions/Helpers/FacebookTokenValidation.cs
  news-functions/Models/CommentDto.cs
  news-functions/Models/FacebookProfileDto.cs
  news-functions/Models/LikeDto.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

Terraform in multistage
  ci/azure-pipelines-ephemeral.yml
Due: none

fike file
  news-infrastructure/fakefile
Due: ci/azure-pipelines-infrastructure-pr.yml

Fix schema
  ci/azure-pipelines-ephemeral.yml
Due: none

fix job name
  ci/azure-pipelines-ephemeral.yml
Due: none

Web build
  ci/azure-pipelines-ephemeral.yml
Due: none

printenv
  ci/azure-pipelines-ephemeral.yml
Due: none

remove fakefile
  news-infrastructure/fakefile
Due: ci/azure-pipelines-infrastructure-pr.yml

test
  ci/azure-pipelines-ephemeral.yml
Due: none

change trigger paths
  ci/azure-pipelines-ephemeral.yml
Due: none

Update azure-pipelines-ephemeral.yml for Azure Pipelines
  ci/azure-pipelines-ephemeral.yml
Due: none

Functions build
  ci/azure-pipelines-ephemeral.yml
Due: none

Functions artifact
  ci/azure-pipelines-ephemeral.yml
Due: none

DownloadBuildArtifacts test
  ci/azure-pipelines-ephemeral.yml
Due: none

fix publish functions build
  ci/azure-pipelines-ephemeral.yml
Due: none

fix publish :(
  ci/azure-pipelines-ephemeral.yml
Due: none

Validate ARM and publish infra
  ci/azure-pipelines-ephemeral.yml
Due: none

Var in 'Enable Storage Account Static Storage'
  ci/azure-pipelines-ephemeral.yml
Due: none

Fix apply infra
  ci/azure-pipelines-ephemeral.yml
Due: none

Fix goni Fix
  ci/azure-pipelines-ephemeral.yml
Due: none

Azure Function App Deploy
  ci/azure-pipelines-ephemeral.yml
Due: none

Fix app name
  ci/azure-pipelines-ephemeral.yml
Due: none

publish web
  ci/azure-pipelines-ephemeral.yml
Due: none

Add restart function app
  ci/azure-pipelines-ephemeral.yml
  news-infrastructure/main.tf
Due: ci/azure-pipelines-infrastructure-pr.yml

Remove tf plan
  ci/azure-pipelines-ephemeral.yml
Due: none

Fix taks name
  ci/azure-pipelines-ephemeral.yml
Due: none

Initial load data using logicapp
  ci/azure-pipelines-ephemeral.yml
Due: none

Slack integration?
  ci/azure-pipelines-ephemeral.yml
Due: none

Fix chars
  ci/azure-pipelines-ephemeral.yml
Due: none

fuck!
  ci/azure-pipelines-ephemeral.yml
Due: none

test refactoring. tests are now data driven
  news-web/src/app/_shared/utils/date.service.spec.ts
Due: ci/azure-pipelines-web-pr.yml

feature impl under test
  news-web/src/app/+home/news/news.component.ts
  news-web/src/app/+home/news/news.service.ts
  news-web/src/app/_shared/storage/storage.service.ts
  news-web/src/app/app.component.ts
Due: ci/azure-pipelines-web-pr.yml

tick inversion + tests
  news-web/src/app/_shared/utils/date.service.spec.ts
  news-web/src/app/_shared/utils/date.service.ts
Due: ci/azure-pipelines-web-pr.yml

odata refactoring
  news-web/src/app/_shared/odata/index.ts
  news-web/src/app/_shared/odata/odata.client.ts
  news-web/src/app/_shared/odata/odata.models.ts
  news-web/src/app/_shared/odata/odata.query-builder.ts
  news-web/src/app/_shared/storage/storage.service.ts
Due: ci/azure-pipelines-web-pr.yml

load latest news on initial page load fixed
  news-web/src/app/+home/news/news.component.ts
  news-web/src/app/+home/news/news.service.ts
Due: ci/azure-pipelines-web-pr.yml

Path conditions:
  azure-pipelines.yml: any of: news-functions
  ci/azure-pipelines-functions-pr.yml: any of: news-functions
  ci/azure-pipelines-infrastructure-pr.yml: any of: news-infrastructure
  ci/azure-pipelines-web-pr.yml: any of: news-web
