Repository AzureCommunityPL/news: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml, ci/azure-pipelines-web-pr.yml

azure-pipelines.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr:
  branches:
    include:
    - master
  paths:
    include:
    - news-functions/*

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: 'news-functions/*.csproj'
    workingDirectory: '/news-functions'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: 'news-functions/*.csproj'

- task: DotNetCoreCLI@2
  displayName: Publish
  inputs:
    command: publish
    publishWebProjects: false
    projects: 'news-functions/*.csproj'
    arguments: '--configuration $(BuildConfiguration) --output $(build.artifactstagingdirectory)'
    zipAfterPublish: True

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)'
    ArtifactName: 'news-functions'
  condition: succeededOrFailed()

ci/azure-pipelines-functions-pr.yml:

trigger: none

pr:
  branches:
    include:
    - master
  paths:
    include:
    - news-functions/*

pool:
  vmImage: 'Ubuntu-16.04'

steps:

- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: 'news-functions/*.csproj'
    workingDirectory: '/news-functions'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: 'news-functions/*.csproj'

ci/azure-pipelines-web-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - news-web/*

pool:
  vmImage: 'Ubuntu-16.04'

steps:

- task: Npm@1
  displayName: 'npm install'
  inputs:
    workingDir: 'news-web'
    verbose: false

- task: Npm@1
  displayName: 'npm run lint'
  inputs:
    command: custom
    workingDir: 'news-web'
    verbose: false
    customCommand: 'run lint'

- task: Npm@1
  displayName: 'npm run build'
  inputs:
    command: custom
    workingDir: 'news-web'
    verbose: false
    customCommand: 'run build --prod'

remove arm! ;)
  news-infrastructure/api-connection-queue.dev.parameters.json
  news-infrastructure/api-connection-queue.json
  news-infrastructure/api-connection-rss-azure-blog.dev.parameters.json
  news-infrastructure/api-connection-rss-azure-blog.json
  news-infrastructure/app-insights.dev.parameters.json
  news-infrastructure/app-insights.json
  news-infrastructure/functions-app.json
  news-infrastructure/functions-app.parameters.json
  news-infrastructure/logic-app-azure-blog.dev.parameters.json
  news-infrastructure/logic-app-azure-blog.json
  news-infrastructure/storage.dev.parameters.json
  news-infrastructure/storage.json
Due: none

debug proxy
  news-functions/proxies.json
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

create function to add comment under post
  news-functions/Handlers/GetStorageConnection.cs
  news-functions/Handlers/PostComment.cs
  news-functions/Handlers/PutNewsToTable.cs
  news-functions/Helpers/DateTimeHelper.cs
  news-functions/Helpers/EnvironmentHelper.cs
  news-functions/Models/CommentDto.cs
  news-functions/Models/CommentTable.cs
  news-functions/Models/FacebookProfileDto.cs
  news-functions/Models/News.cs
  news-functions/Models/NewsTable.cs
  news-functions/proxies.json
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

typo
  news-functions/proxies.json
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

change namespaces for whole solution
  news-functions/Handlers/GetStorageConnection.cs
  news-functions/Handlers/PostComment.cs
  news-functions/Handlers/PutNewsToTable.cs
  news-functions/Helpers/DateTimeHelper.cs
  news-functions/Helpers/EnvironmentHelper.cs
  news-functions/Models/CommentDto.cs
  news-functions/Models/CommentTable.cs
  news-functions/Models/FacebookProfileDto.cs
  news-functions/Models/News.cs
  news-functions/Models/NewsTable.cs
  news-functions/NewsFunctions.csproj
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

fix? :(
  news-functions/proxies.json
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

no kurwa, chyba pora spac...
  news-functions/proxies.json
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

disable debug in proxy
  news-functions/proxies.json
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

logic app
  news-infrastructure/tf/logic-app.json
  news-infrastructure/tf/main.tf
Due: none

chyba moje copy paste nie poszlo...
  news-infrastructure/tf/main.tf
Due: none

i litrowka
  news-infrastructure/tf/main.tf
Due: none

move to proper dir
  news-infrastructure/function-settings.json
  news-infrastructure/logic-app.json
  news-infrastructure/main.tf
Due: none

remove and change names
  news-infrastructure/logic-app.json
  news-infrastructure/logic-apps.dev.parameters.json
  news-infrastructure/logic-apps.json
  news-infrastructure/main.tf
Due: none

fix azure func version
  news-infrastructure/main.tf
Due: none

fix logic app deployemnt name
  news-infrastructure/main.tf
Due: none

Update main.tf
  news-infrastructure/main.tf
Due: none

Update function-settings.json
  news-infrastructure/function-settings.json
Due: none

JEST tests integrated with CI
  ci/azure-pipelines-web-pr.yml
  news-web/.gitignore
  news-web/package-lock.json
  news-web/package.json
  package-lock.json
Due: ci/azure-pipelines-web-pr.yml

CloudFlare workers
  news-infrastructure/main.tf
  news-infrastructure/worker.js
Due: none

terraform ci
  ci/azure-pipelines-infrastructure-pr.yml
  news-infrastructure/init_vars.sh
Due: none

fix working directory for CI
  ci/azure-pipelines-infrastructure-pr.yml
Due: none

cloudflare first auto
  news-infrastructure/main.tf
Due: none

dynamic router/proxy workers configuration
  news-infrastructure/main.tf
  news-infrastructure/worker.js
Due: none

Added validate_arm.sh script
  news-infrastructure/function-settings.json
  news-infrastructure/logic-apps.json
  news-infrastructure/validate_arm.sh
Due: none

added validate arm task to infarstructure pr build
  ci/azure-pipelines-infrastructure-pr.yml
  news-infrastructure/validate_arm.sh
Due: none

Added task display name
  ci/azure-pipelines-infrastructure-pr.yml
Due: none

Searching for a valid scriptPath value
  ci/azure-pipelines-infrastructure-pr.yml
Due: none

spinner & toastr added
  news-web/angular.json
  news-web/package-lock.json
  news-web/package.json
  news-web/src/app/+home/news/news.component.ts
  news-web/src/app/+home/news/news.service.ts
  news-web/src/app/_shared/shared.module.ts
  news-web/src/app/_shared/spinner/index.ts
  news-web/src/app/_shared/spinner/spinner.service.ts
  news-web/src/app/_shared/toastr/index.ts
  news-web/src/app/_shared/toastr/toastr.service.ts
  news-web/src/app/app.component.html
  news-web/src/app/app.component.ts
Due: ci/azure-pipelines-web-pr.yml

add like or unlike post
  news-functions/Extensions/CloudTableExtension.cs
  news-functions/Handlers/LikeOrUnlike.cs
  news-functions/Handlers/PostComment.cs
  news-functions/Helpers/FacebookTokenValidation.cs
  news-functions/Models/CommentDto.cs
  news-functions/Models/FacebookProfileDto.cs
  news-functions/Models/LikeDto.cs
  news-functions/NewsFunctions.csproj
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

Change cloudflare push to curl form tf
  news-infrastructure/main.tf
  news-infrastructure/metadata.json
Due: none

Revert "add like or unlike post"
  news-functions/Extensions/CloudTableExtension.cs
  news-functions/Handlers/LikeOrUnlike.cs
  news-functions/Handlers/PostComment.cs
  news-functions/Helpers/FacebookTokenValidation.cs
  news-functions/Models/CommentDto.cs
  news-functions/Models/FacebookProfileDto.cs
  news-functions/Models/LikeDto.cs
  news-functions/NewsFunctions.csproj
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

split function to two separate
  news-functions/Handlers/Like.cs
  news-functions/Handlers/Unlike.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

added fail on stderr
  ci/azure-pipelines-infrastructure-pr.yml
  news-infrastructure/validate_arm.sh
Due: none

/dev/stderr
  news-infrastructure/validate_arm.sh
Due: none

>&2
  news-infrastructure/validate_arm.sh
Due: none

valid resource group
  news-infrastructure/validate_arm.sh
Due: none

fike file
  news-infrastructure/fakefile
Due: none

Skip files from reserved list
  news-infrastructure/validate_arm.sh
Due: none

multistage sample
  ci/multistage.yaml
Due: none

fix name
  ci/multistage.yml
Due: none
