Repository AzureCommunityPL/news: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, ci/azure-pipelines-web-pr.yml

azure-pipelines.yml:
  pool:
    vmImage: Ubuntu-16.04
  steps:
  - script: echo Hello, world!
    displayName: Run a one-line script
  - script: 'echo Add other tasks to build, test, and deploy your project.
  
      echo See https://aka.ms/yaml
  
      '
    displayName: Run a multi-line script
  - task: DotNetCoreCLI@2
    inputs:
  ...

ci/azure-pipelines-web-pr.yml:
  pool:
    vmImage: Ubuntu-16.04
  steps:
  - task: Npm@1
    displayName: npm install
    inputs:
      workingDir: news-web
      verbose: false
  - task: Npm@1
    displayName: npm run lint
    inputs:
      command: custom
      workingDir: news-web
      verbose: false
      customCommand: run lint
  - task: Npm@1
  ...

test build pr
  news-web/README.md
Due: ci/azure-pipelines-web-pr.yml

Git ignore TF & macOS
  .gitignore
Due: none

move logic from GetPartition to GetStorageConnection
  news-functions/GetPartitions.cs
  news-functions/GetStorageConnection.cs
Due: azure-pipelines.yml

clean
  news-functions/GetStorageConnection.cs
Due: azure-pipelines.yml

trigger: none for CI
  ci/azure-pipelines-functions-pr.yml
  ci/azure-pipelines-web-pr.yml
Due: none

Test
  news-functions/NewsTable.cs
Due: azure-pipelines.yml

Test PR
  news-functions/NewsTable.cs
Due: azure-pipelines.yml

Test PR web build
  news-web/README.md
Due: ci/azure-pipelines-web-pr.yml

.gitignore tf & macOS
  .gitignore
Due: none

refcator and create post comment function
  news-functions/Handlers/GetStorageConnection.cs
  news-functions/Handlers/PostComment.cs
  news-functions/Handlers/PutNewsToTable.cs
  news-infrastructure/functions-app.json
Due: azure-pipelines.yml

encapsulate fb access token
  news-functions/Handlers/PostComment.cs
Due: azure-pipelines.yml

Fixed templates for Logic Apps and fixed appi connection for queues
  news-infrastructure/api-connection-queue.dev.parameters.json
  news-infrastructure/api-connection-queue.json
  news-infrastructure/api-connection-rss-azure-blog.dev.parameters.json
  news-infrastructure/api-connection-rss-azure-blog.json
  news-infrastructure/logic-app-azure-blog.dev.parameters.json
  news-infrastructure/logic-app-azure-blog.json
  news-infrastructure/logic-apps.json
  news-infrastructure/logic-apps.parameters.json
Due: none

news are now retrieved from azure storage odata endpoint
  news-web/proxy.conf.json
  news-web/src/app/+home/home.component.ts
  news-web/src/app/+home/news/news.component.html
  news-web/src/app/+home/news/news.component.ts
  news-web/src/app/+home/news/news.model.ts
  news-web/src/app/+home/news/news.module.ts
  news-web/src/app/+home/news/news.service.ts
  news-web/src/app/_shared/api/api.dto.ts
  news-web/src/app/_shared/api/api.service.ts
  news-web/src/app/_shared/api/index.ts
  news-web/src/app/_shared/index.ts
  news-web/src/app/_shared/sas/index.ts
  news-web/src/app/_shared/sas/sas.api.service.ts
  news-web/src/app/_shared/sas/sas.dto.ts
  news-web/src/app/_shared/shared.module.ts
  news-web/src/app/_shared/storage-odata/index.ts
  news-web/src/app/_shared/storage-odata/storage-odata.dto.ts
  news-web/src/app/_shared/storage-odata/storage-odata.service.ts
  news-web/src/environments/environment.d.ts
  news-web/src/environments/environment.prod.ts
  news-web/src/environments/environment.ts
Due: ci/azure-pipelines-web-pr.yml

Update logic-apps.parameters.json
  news-infrastructure/logic-apps.parameters.json
Due: none

Rename logic-apps.parameters.json to logic-apps.dev.parameters.json
  news-infrastructure/logic-apps.dev.parameters.json
Due: none

handle error
  news-functions/Handlers/PostComment.cs
Due: azure-pipelines.yml

TF - first strike
  news-infrastructure/tf/main.tf
Due: none

initial odata models
  news-web/src/app/_shared/odata/index.ts
  news-web/src/app/_shared/odata/odata.client.ts
  news-web/src/app/_shared/odata/odata.model.ts
Due: ci/azure-pipelines-web-pr.yml

refactoring
  news-web/src/app/+home/news/news.service.ts
  news-web/src/app/_shared/odata/index.ts
  news-web/src/app/_shared/odata/odata.client.ts
  news-web/src/app/_shared/shared.module.ts
  news-web/src/app/_shared/storage-odata/index.ts
  news-web/src/app/_shared/storage-odata/storage-odata.service.ts
  news-web/src/app/_shared/storage/index.ts
  news-web/src/app/_shared/storage/storage.dto.ts
  news-web/src/app/_shared/storage/storage.service.ts
Due: ci/azure-pipelines-web-pr.yml

commented out code removed
  news-web/src/app/+home/home.component.ts
  news-web/src/app/+home/news/news.component.html
  news-web/src/app/+home/news/news.component.ts
  news-web/src/app/_shared/odata/index.ts
  news-web/src/app/_shared/odata/odata.client.ts
  news-web/src/app/_shared/odata/odata.models.ts
  news-web/src/app/navbar/navbar.component.html
  news-web/src/environments/environment.ts
  news-web/src/index.html
Due: ci/azure-pipelines-web-pr.yml

refactoring
  news-web/src/app/_shared/facebook/facebook.service.ts
  news-web/src/app/_shared/storage/storage.service.ts
  news-web/src/app/navbar/navbar.component.html
Due: ci/azure-pipelines-web-pr.yml

refactoring
  news-web/src/app/+home/home.component.html
  news-web/src/app/_shared/facebook/facebook.service.ts
Due: ci/azure-pipelines-web-pr.yml

Added proxy and moved connection string to properly section
  news-functions/EnvironmentHelper.cs
  news-functions/Handlers/GetStorageConnection.cs
  news-functions/Handlers/PostComment.cs
  news-functions/NewsFunctions.csproj
  news-functions/proxies.json
  news-infrastructure/functions-app.json
Due: azure-pipelines.yml

remove typo
  news-functions/proxies.json
Due: azure-pipelines.yml

added dashbords to connection string and removed unused nuget
  news-functions/NewsFunctions.csproj
  news-infrastructure/functions-app.json
Due: azure-pipelines.yml

removed hardcoded storage name
  news-infrastructure/functions-app.json
Due: none

fix arms
  news-infrastructure/app-insights.json
  news-infrastructure/functions-app.json
Due: none

fix build
  news-infrastructure/functions-app.json
Due: none

Move to AccountStorage-Conn connection_string
  news-infrastructure/tf/main.tf
Due: none

add missing proxies to build
  news-functions/NewsFunctions.csproj
Due: azure-pipelines.yml

Function auth & cors in TF
  news-infrastructure/tf/function-settings.json
  news-infrastructure/tf/main.tf
Due: none

fix tf vars
  news-infrastructure/tf/main.tf
Due: none

karma/jasmine removed and replaced with jest
  news-web/angular.json
  news-web/package-lock.json
  news-web/package.json
  news-web/src/app/+home/news/news.component.html
  news-web/src/app/+home/news/news.component.scss
  news-web/src/app/+home/news/news.component.ts
  news-web/src/app/+home/news/news.service.ts
  news-web/src/app/_shared/shared.module.ts
  news-web/src/app/_shared/storage/storage.service.ts
  news-web/src/app/_shared/utils/date.service.spec.ts
  news-web/src/app/_shared/utils/date.service.ts
  news-web/src/app/_shared/utils/index.ts
  news-web/src/app/app.component.spec.ts
  news-web/src/jestGlobalMocks.ts
  news-web/src/karma.conf.js
  news-web/src/setupJest.ts
  news-web/src/test.ts
  news-web/src/tsconfig.spec.json
Due: ci/azure-pipelines-web-pr.yml

fix vars...
  news-infrastructure/tf/main.tf
Due: none

proxy to spa
  news-functions/proxies.json
Due: azure-pipelines.yml

fix var, kurwa
  news-infrastructure/tf/main.tf
Due: none

tests added
  news-web/package-lock.json
  news-web/package.json
  news-web/src/app/_shared/facebook/facebook.service.ts
  news-web/src/app/_shared/utils/date.service.spec.ts
Due: ci/azure-pipelines-web-pr.yml

unused file removed
  news-web/.gitkeep
  news-web/README.md
Due: ci/azure-pipelines-web-pr.yml

endpoint changes to fix CORB issues
  news-web/proxy.conf.json
  news-web/src/app/_shared/api/api.service.ts
  news-web/src/app/_shared/storage/storage.service.ts
Due: ci/azure-pipelines-web-pr.yml

next fix, fix fix
  news-functions/proxies.json
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines.yml: any of: news-functions
  ci/azure-pipelines-web-pr.yml: any of: news-web
