Repository AzureCommunityPL/news: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml, ci/azure-pipelines-infrastructure-pr.yml, ci/azure-pipelines-web-pr.yml

Path conditions:
  azure-pipelines.yml: any of: news-functions
  ci/azure-pipelines-functions-pr.yml: any of: news-functions
  ci/azure-pipelines-infrastructure-pr.yml: any of: news-infrastructure
  ci/azure-pipelines-web-pr.yml: any of: news-web

comment editing
  news-web/src/app/+home/news/news-item/news-item-modal/news-item-modal.component.ts
  news-web/src/app/+home/news/news-item/news-item.component.html
  news-web/src/app/+home/news/news-item/news-item.component.ts
  news-web/src/app/+home/news/news-item/news-item.service.ts
  news-web/src/app/_shared/api/api.service.ts
  news-web/src/app/_shared/http/core-http.client.ts
Due: ci/azure-pipelines-web-pr.yml

modal mode pipes
  news-web/src/app/+home/news/news-item/news-item-modal/news-item-modal.component.html
  news-web/src/app/+home/news/news-item/news-item-modal/news-item-modal.component.ts
  news-web/src/app/+home/news/news-item/news-item-modal/news-item-modal.module.ts
  news-web/src/app/+home/news/news-item/news-item-modal/news-item-modal.pipe.ts
Due: ci/azure-pipelines-web-pr.yml

form validation & default emmpty mesage for news-item comments
  news-web/src/app/+home/news/news-item/news-item-modal/news-item-modal.component.html
  news-web/src/app/+home/news/news-item/news-item-modal/news-item-modal.component.ts
  news-web/src/app/+home/news/news-item/news-item.component.html
  news-web/src/app/_shared/shared.module.ts
Due: ci/azure-pipelines-web-pr.yml

unused css class removed
  news-web/src/app/+home/news/news-item/news-item.component.html
  news-web/src/app/+home/news/news-item/news-item.component.scss
Due: ci/azure-pipelines-web-pr.yml

feature/cicddemo
  news-infrastructure/logic-apps.json
Due: ci/azure-pipelines-infrastructure-pr.yml

fix
  news-infrastructure/main.tf
Due: ci/azure-pipelines-infrastructure-pr.yml

fix2
  news-infrastructure/main.tf
Due: ci/azure-pipelines-infrastructure-pr.yml

update tf
  news-infrastructure/main.tf
Due: ci/azure-pipelines-infrastructure-pr.yml

test
  news-infrastructure/main.tf
Due: ci/azure-pipelines-infrastructure-pr.yml

fixing tf
  news-infrastructure/main.tf
Due: ci/azure-pipelines-infrastructure-pr.yml

test 3
  news-infrastructure/main.tf
Due: ci/azure-pipelines-infrastructure-pr.yml

test 4
  news-infrastructure/main.tf
Due: ci/azure-pipelines-infrastructure-pr.yml

changed back logic apps
  news-infrastructure/logic-apps.json
Due: ci/azure-pipelines-infrastructure-pr.yml

Update TF main
  news-infrastructure/main.tf
Due: ci/azure-pipelines-infrastructure-pr.yml

logic-app change name
  news-infrastructure/logic-apps.json
Due: ci/azure-pipelines-infrastructure-pr.yml

reverted
  news-infrastructure/logic-apps.json
Due: ci/azure-pipelines-infrastructure-pr.yml

Add files via upload
  BuildBookofNews.5.12.955.pdf
Due: none
