Repository AzureCommunityPL/news: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml, ci/azure-pipelines-infrastructure-pr.yml, ci/azure-pipelines-web-pr.yml

Path conditions:
  azure-pipelines.yml: any of: news-functions
  ci/azure-pipelines-functions-pr.yml: any of: news-functions
  ci/azure-pipelines-infrastructure-pr.yml: any of: news-infrastructure
  ci/azure-pipelines-web-pr.yml: any of: news-web

feature impl under test
  news-web/src/app/+home/news/news.component.ts
  news-web/src/app/+home/news/news.service.ts
Due: ci/azure-pipelines-web-pr.yml

load latest news on initial page load fixed
  news-web/src/app/+home/news/news.service.ts
Due: ci/azure-pipelines-web-pr.yml

lint fixed
  news-web/src/app/_shared/odata/odata.query-builder.ts
Due: ci/azure-pipelines-web-pr.yml

multiple feed arm
  news-infrastructure/logic-apps.json
Due: ci/azure-pipelines-infrastructure-pr.yml

feed iteraation fix
  news-infrastructure/logic-apps.json
Due: ci/azure-pipelines-infrastructure-pr.yml

fixed pipeline parameter definition and initial value
  news-infrastructure/main.tf
Due: ci/azure-pipelines-infrastructure-pr.yml

fixing terraform array parameters
  news-infrastructure/logic-apps.json
  news-infrastructure/main.tf
Due: ci/azure-pipelines-infrastructure-pr.yml

fixing terraform array parameters
  news-infrastructure/main.tf
Due: ci/azure-pipelines-infrastructure-pr.yml

news-item layout update
  news-web/src/app/+home/news/news.component.html
  news-web/src/app/+home/news/news.component.scss
Due: ci/azure-pipelines-web-pr.yml

downgrade
  news-functions/NewsFunctions.csproj
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

replace guid to string
  news-functions/Models/CommentDto.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

tar upgraded
  news-web/package-lock.json
  news-web/package.json
Due: ci/azure-pipelines-web-pr.yml

resolve comments
  news-functions/Handlers/Like.cs
  news-functions/Handlers/PostComment.cs
  news-functions/Handlers/Unlike.cs
  news-functions/Helpers/FacebookTokenValidation.cs
  news-functions/Models/CommentDto.cs
  news-functions/Models/FacebookProfileDto.cs
  news-functions/Models/LikeDto.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

Split data to new tables
  news-functions/Handlers/GetStorageConnection.cs
  news-functions/Handlers/Like.cs
  news-functions/Handlers/PostComment.cs
  news-functions/Handlers/PutNewsToTable.cs
  news-functions/Handlers/Unlike.cs
  news-functions/Models/LikeDto.cs
  news-infrastructure/main.tf
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml, ci/azure-pipelines-infrastructure-pr.yml

Fix initial load
  ci/azure-pipelines-ephemeral.yml
Due: none

Remove unsed auth configuration
  news-infrastructure/function-settings.json
  news-infrastructure/main.tf
Due: ci/azure-pipelines-infrastructure-pr.yml

Fix table name in unlike endpoint
  news-functions/Handlers/Unlike.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

make more rest :)
  news-functions/Handlers/Comment.cs
  news-functions/Handlers/PostComment.cs
  news-functions/Models/CommentDto.cs
  news-functions/Models/HttpOperation.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

remove proxy
  news-functions/proxies.json
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

replace methods
  news-functions/Handlers/Comment.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

fix missing body from cf
  news-infrastructure/worker.js
Due: ci/azure-pipelines-infrastructure-pr.yml

chnage method for generating sas token
  news-functions/Handlers/GetStorageConnection.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

add partition aggregation
  news-functions/Handlers/GetStorageConnection.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

split method, get token and get count by partiotion
  news-functions/Handlers/GetStorageConnection.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

change model and add an exsit validation
  news-functions/Handlers/GetStorageConnection.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

wip
  news-web/src/app/+home/news/news-item/news-item.component.ts
  news-web/src/app/+home/news/news.component.html
  news-web/src/app/_shared/api/api.dto.ts
  news-web/src/app/_shared/odata/index.ts
  news-web/src/app/_shared/storage/storage.dto.ts
  news-web/src/app/_shared/storage/storage.service.ts
Due: ci/azure-pipelines-web-pr.yml

comment button enabled on fb login
  news-web/src/app/+home/news/news-item/news-item.component.html
  news-web/src/app/+home/news/news-item/news-item.component.scss
  news-web/src/app/+home/news/news-item/news-item.component.ts
  news-web/src/app/+home/news/news-item/news-item.module.ts
  news-web/src/app/+home/news/news.component.html
  news-web/src/app/+home/news/news.module.ts
  news-web/src/app/_shared/shared.module.ts
  news-web/src/styles.scss
Due: ci/azure-pipelines-web-pr.yml

layout updates
  news-web/src/app/+home/news/news-item/news-item.component.html
  news-web/src/app/+home/news/news-item/news-item.component.scss
  news-web/src/app/+home/news/news-item/news-item.component.ts
  news-web/src/app/+home/news/news.model.ts
  news-web/src/app/_shared/api/api.dto.ts
  news-web/src/app/_shared/api/api.service.ts
Due: ci/azure-pipelines-web-pr.yml

comment retrieval
  news-web/src/app/+home/news/news-item/news-item.component.html
  news-web/src/app/+home/news/news-item/news-item.component.ts
  news-web/src/app/+home/news/news-item/news-item.models.ts
  news-web/src/app/+home/news/news-item/news-item.module.ts
  news-web/src/app/+home/news/news-item/news-item.service.ts
  news-web/src/app/+home/news/news.service.ts
  news-web/src/app/_shared/api/api.dto.ts
  news-web/src/app/_shared/api/api.service.ts
  news-web/src/app/_shared/api/index.ts
  news-web/src/app/_shared/storage/index.ts
  news-web/src/app/_shared/storage/storage.service.ts
Due: ci/azure-pipelines-web-pr.yml

comment POST'ing in progress
  news-web/src/app/+home/news/news-item/news-item.component.html
  news-web/src/app/+home/news/news-item/news-item.component.ts
  news-web/src/app/+home/news/news-item/news-item.models.ts
  news-web/src/app/+home/news/news-item/news-item.service.ts
  news-web/src/app/_shared/api/api.service.ts
  news-web/src/app/_shared/http/core-http.client.ts
Due: ci/azure-pipelines-web-pr.yml

return dto on post
  news-functions/Handlers/Comment.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

retur body
  news-functions/Handlers/Comment.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

Update Comment.cs
  news-functions/Handlers/Comment.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

post/put swapped. added http 405 and 404 condition
  news-functions/Handlers/Comment.cs
Due: azure-pipelines.yml, ci/azure-pipelines-functions-pr.yml

posting comments enabled using low-level client
  news-web/src/app/+home/news/news-item/news-item.component.html
  news-web/src/app/+home/news/news-item/news-item.component.scss
  news-web/src/app/+home/news/news-item/news-item.component.ts
  news-web/src/app/+home/news/news-item/news-item.service.ts
  news-web/src/app/_shared/api/api.service.ts
  news-web/src/app/_shared/http/core-http.client.ts
  news-web/src/app/_shared/storage/storage.dto.ts
  news-web/src/app/_shared/storage/storage.service.ts
  news-web/src/app/app.component.scss
Due: ci/azure-pipelines-web-pr.yml

added json validation
  ci/azure-pipelines-infrastructure-pr.yml
Due: none

fixed template name
  ci/azure-pipelines-infrastructure-pr.yml
Due: none

refactored ui, added modal
  news-web/src/app/+home/news/news-item/news-item-modal/news-item-modal.component.html
  news-web/src/app/+home/news/news-item/news-item-modal/news-item-modal.component.scss
  news-web/src/app/+home/news/news-item/news-item-modal/news-item-modal.component.ts
  news-web/src/app/+home/news/news-item/news-item-modal/news-item-modal.models.ts
  news-web/src/app/+home/news/news-item/news-item-modal/news-item-modal.module.ts
  news-web/src/app/+home/news/news-item/news-item.component.html
  news-web/src/app/+home/news/news-item/news-item.component.scss
  news-web/src/app/+home/news/news-item/news-item.component.ts
  news-web/src/app/+home/news/news-item/news-item.module.ts
  news-web/src/app/_shared/shared.module.ts
  news-web/src/assets/gab-badge.png
Due: ci/azure-pipelines-web-pr.yml

add/edit comment btn separation
  news-web/src/app/+home/news/news-item/news-item.component.html
  news-web/src/app/+home/news/news-item/news-item.component.scss
  news-web/src/app/+home/news/news-item/news-item.component.ts
Due: ci/azure-pipelines-web-pr.yml
